---
layout: page
---

<div class="project_page">
  <!-- Project page Start -->
  <section id="project_details" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper"> 
            </div>

          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <img src="{{ site.baseurl }}/img/portfolio/{{ page.image }}" alt="Img">
          </div>
        </div><!-- .col-md-5 close -->
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <div class="section-title">
              <h4 style=text-align:left>Project Details</h4>
              <hr />
            </div>
            <div class="table">
              <table style="width:100%">
                <colgroup>
                  <col span="1" style="width: 35%;">
                  <col span="1" style="width: 65%;">
                </colgroup>
                <tr height="40px">
                  <td class:"item">By</td>
                  <td>{{ page.author }}</td>
                </tr>
                <tr height="40px">
                  <td class:"item">Completed In</td>
                  <td>{{ page.date }}</td>
                </tr>
                <tr height="40px">
                  <td class="item">Technology</td>
                  <td>{{ page.technology }}</td>
                </tr>
                <tr height="40px">
                  <td class="item">Repository</td>
                  <td><a href={{ page.github }}>Github</a></td>
                </tr>
                <tr height="40px">
                  <td class="item">Hosting Site</td>
                  <td><a href={{ page.domain }}>{{ page.domain }}</a></td>
                </tr>
                <tr height="40px">
                  <td class="item">Highlight</td>
                  <td>{{ page.highlight }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div><!-- .col-md-7 close -->

      </div>
      <div class="row">
        <div class = "col-md-12 col-sm-12">
          <div class="story">
            <p>{{ content }}</p> 
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/project">Back To Project</a>
</p>


