---
layout: page
---

<div class="project_page">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <img src="{{ site.baseurl }}/img/portfolio/{{ page.image }}" alt="Img">
          </div>
        </div><!-- .col-md-5 close -->
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <div class="section-title">
              <h2>About me</h2>
            </div>
            <p>Hi there. My name is Kai Zheng. Since very early on in my childhood, I was very interested in computer sciences and physics. But unfortunately I didn't followed my passion when choosing major in college and in my career. I'm currently working in financial industry with a economics background.</p>
            <p>However, with the experiences as a product manager in a fin-tech startup, I still find programming very facinating. The idea of creating and building things is just so exciting. Thus I self studied programming languages and some technology stacks so that I could create with my own hands. I also obtained two Udacity Nanodegrees(Full stack developer and Algorithms & Data Structures) to help me consolidate what I learned.   </p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>


<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About me</h2>
          </div>
          <p>Hi there. My name is Kai Zheng. Since very early on in my childhood, I was very interested in computer sciences and physics. But unfortunately I didn't followed my passion when choosing major in college and in my career. I'm currently working in financial industry with a economics background.</p>
          <p>However, with the experiences as a product manager in a fin-tech startup, I still find programming very facinating. The idea of creating and building things is just so exciting. Thus I self studied programming languages and some technology stacks so that I could create with my own hands. I also obtained two Udacity Nanodegrees(Full stack developer and Algorithms & Data Structures) to help me consolidate what I learned.   </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>